<%= form_tag log_in_path do |login_form| %>

    <p><%= label_tag 'customer_email', 'Email' %></p>
    <%= email_field_tag 'email', params[:email] %>

    <p><%= label_tag 'login_password', 'Password' %></p>
    <%= password_field_tag 'password', params[:email] %> 


  <%= button_tag 'Login' %>
<% end %>

