<h1>Product Listing</h1>

<a><%= link_to 'Add New Product', new_product_path %></a>

<div class="columns">

    <% @products.each_with_index do |product, i| %>

      <div class="third <%= i%3 == 2 ? 'last' : ''%>">
        <img src="<%= product.url %>" />
        <div><%= link_to product.name, product_path(product) %></div>
        <div>Created <%= time_ago_in_words product.created_at %></div>
        <div><%= number_to_currency(product.price) %></div>
      </div>
    <% end %>

</div>
<div class="hr"></div>


