<!DOCTYPE html>
<html>
<head>
  <title>Betastore</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='/app/assets/stylesheets/application.css' rel='stylesheet' type='text/css'>

</head>
<body>

<div class="container">

<div class="content">

<div class="primary-button" id="top-login">
	<% if cookies.signed[:customer_id].present? %>
	<%= link_to "Logout", log_out_path, method: 'post' %>
	<% else %>
	<%= link_to "Login", log_in_path, method: 'post' %>
	<% end %>
</div>

 <div class="header">

      <div id="logo"><a href="/products/"><%= image_tag "http://baltimoreinnovationweek.com/wp-content/uploads/2013/07/betamore-logo1.jpg" %></a></div>

<div class="hr"></div>

    <%= yield %>
  </div>


</div> <!--End Content -->

<div id="footer">
<p>copyright &copy; Betamore 2013. All rights reserved</p>

</div>

</div> <!--End Container -->

</body>
</html>